<% @inventory_master.each do |item, qty| %>
        <% if item.unit == "Caddie" %>
            <td>   
                <%= item.code %><br />
                <%= number_with_precision(qty, precision: 2) %>
            </td>
        <% end %>
    <% end %>