<% @inventory_zing.each do |item, qty| %>
        <% if item.unit == "Caddie" %>
            <td id="<%= item.id %>">
                <%= item.code %><br />
                <%= number_with_precision(qty, precision: 2) %>
            </td>
        <% end %>
    <% end %>