    <% @inventory_zing.each do |item, qty| %>
        <% if !item.code.nil? and item.unit == "Master" %>
            <td>
                <%= item.code %>
                <div id="<%= item.id %>">
                    <%= number_with_precision(qty, precision: 2) %>
                </div>
            </td>
        <% end %>
    <% end %>   