var app = window.app = {};

app.Search = function() {
  this._input = $('#search-txt');
  this._initAutocomplete();
};

app.Search.prototype = {

	_initAutocomplete: function() {
  this._input
    .autocomplete({
      max:20,
      minLength:3,
      delay: 300,
      source: '/search',
      appendTo: '#search-results',
      select: $.proxy(this._select, this)
    })
    .autocomplete('instance')._renderItem = $.proxy(this._render, this);
  },

	_select: function(e, ui) {
  this._input.val(ui.item.name + ' - ' + ui.item.city);
  return false;
},

_render: function(ul, item) {
  if (this._input[0].value.match(/[a-zA-Z]/)) {
        var markup = [
      '<span class="name"><a href="../customers/' + item.id + '">'  + item.name + '</a>:</span>',
      '<span class="city">' + item.city + ',</span>',
      '<span class="state">' + item.state + '</span>'
    ];
  } 
  else if (this._input[0].value.match(/-{1}\d/)) {
    var markup = [
      '<span class="name"><a href="../orders/' + item.invoices[0].id + '">'  + item.invoices[0].c_invoicenumber + '</a>:</span>',
      '<span class="city">' + item.name + ',</span>',
    ];

  } else {
    var markup = [
      '<span class="name"><a href="../orders/' + item.orders[0].id + '">'  + item.orders[0].invoice_number + '</a>:</span>',
      '<span class="city">' + item.name + ',</span>',
    ];
  }
  return $('<li>')
    .append(markup.join(''))
    .appendTo(ul);
}
};