<%= content_tag :div, "", id: "bar-chart-1", data: {invoices: Invoice.inv_chart_data(Time.now.beginning_of_year.strftime("%Y-%m-%d"), 1.month.ago.end_of_month.strftime("%Y-%m-%d"), "month")} %>

<div id="top-customer-sales">
</div>


<script>
new Morris.Bar({
  // ID of the element in which to draw the chart.
  element: 'top-customer-sales',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: $('#bar-chart-1').data('invoices'),
  // The name of the data record attribute that contains x-values.
  xkey: 'date',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['total_ly', 'total'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Total Sales LY', 'Total Sales TY'],
  barColors: function (row, series, type) {
    if (series.label == 'Total Sales TY') {
      // return '#337ab7';
      return '#287bc1' ;
    }
    else {
      return '#94c5ef';
      // return '#f0ad4e';
    }
  }
});
</script>