<div id="page-wrapper" style="min-height: 629px;">
    <div class="row">
    	<div class="col-lg-12">
	    	<h1 class="page-header">Reports</h1>
           	<div class="panel panel-default">
				<div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Currently Available Reports
                </div>
                <!-- /.panel-body -->

                <div class="panel-body">
                	<div class="row">
                    	<div class="col-lg-12">
                        	<div class="table-responsive">
                        		<table>
	                        		<tr><td><%= link_to 'Customer Sales by Month', '/reports/customer_sales/' %></td></tr>
	                        		<tr><td><%= link_to 'Gross Sales by Month', '/reports/gross_sales/' %></td></tr>
                        		</table>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>