<div id="page-wrapper" style="min-height: 629px;">
    <div class="row">
        <div class="col-lg-12">
        	<h1 class="page-header">Video Demo</h1>
            	
        	<%= video_tag(["Animations.mp4"], :size => "640x480", :controls => true) %>
            </div>
    </div>
</div>