 <div id="page-wrapper" style="min-height: 629px;">
    <div class="row">
        <div class="col-lg-12">
			<h1>Chart of Accounts</h1>
			<ul>
			<% @account.each do |item| %>  
			    <li class="col-md-12 col-md-offset-<%=item.sublevel%>">
			    <%= item.number %>
			    <%= link_to item.name, item %> :  <%= item.balance %><br />
			    </li>
			<% end %>
			</ul>
		</div>
	</div>
</div>